{% load static %}
<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'project_main_page' %}">Projects</a></li>
                <li><a href="{% url 'resume_info' %}">Resume</a></li>
                <li><a href="{% url 'contact_info' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>
</body>
</html>
