{% extends 'index.html' %}

{% block title %}Projects - My Portfolio{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">My Projects</h1>
        <div class="row">
            {% for project in projects %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                            {% if project.video %}
                                <video controls class="w-100 mt-2">
                                    <source src="{{ project.video.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
